{% block head %}
    <link rel="shortcut icon" href="{{ URL_BASE ~ '/views/admin/templates/components/field-select-search/assets/css/select2.min.css' }}">
{% endblock %}


<select class="form-control select2" data-toggle="select2">
    <option value="">Selecione uma opção</option>
    <option value="AK">Alaska</option>
    <option value="HI">Hawaii</option>
    <option value="CA">California</option>
    <option value="NV">Nevada</option>
    <option value="OR">Oregon</option>
    <option value="WA">Washington</option>
</select>


{% block javascript %}
    <script src="{{ URL_BASE ~ '/views/admin/templates/components/field-select-search/assets/js/select2.min.js' }}"></script>
{% endblock %}