{% block field_form_search %}
    <form name="formStoreSearch" id="formStoreSearch" method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="fs" id="txtSearch" autocomplete="on" placeholder="O que você está procurando?" aria-label="O que você está procurando?">
            <button class="btn btn-primary" type="submit">
                <i class="mdi mdi-18px mdi-magnify"></i>
                <b>Busca</b>
            </button>
        </div>
    </form>
{% endblock %}
