{% extends "layouts/main.html" %}

{% block title %} {{ TITLE }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <a href="?action=create" class="btn btn-primary mb-2 ms-2" title="Adicionar um novo ticket">
                        <i class="mdi mdi-plus-circle"></i>
                        <b>Novo</b>
                    </a>
                </div>
                <h4 class="page-title">{{ TITLE }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3 border-end">
                            <h4 class="">Categorias</h4>
                            <ul>
                                <li><a href="" title="" target="_blank">Método de Pagamento</a></li>
                                <li><a href="" title="" target="_blank">Método de Envio</a></li>
                                <li><a href="" title="" target="_blank">Catálogo</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-9">
                            Conteúdo...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}